.header {
    margin: 0 80px 0 64px;
    max-width: 1440px;
    align-items: center;
    min-height: 80px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
}

.header__logo {
    width: 120px;
}

.header__nav-links {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    gap: 40px
}

.header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link_active {
    text-decoration: underline 2px #FCB500;
    text-underline-offset: 5px;
}

.header__link:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.header__basket {
    width: 32px;
    height: 28px;
    background-image: url('../../images/basket.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.header__basket:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.header__basket-count {
    width: 16px;
    height: 16px;
    background-color: #FCB500;
    border-radius: 50%;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -7px;
    right: -8px;
}


@media screen and (max-width: 1280px) {
    .header__nav-links {
        gap: 20px
    }

    .header__link {
        font-size: 14px;
    }

}

@media screen and (max-width: 960px) {
    .header {
        grid-template-columns: max-content 1fr max-content;
        justify-items: end;
        gap: 30px;
    }

    .header__nav-links {
        display: none;
    }

}

@media screen and (max-width: 580px) {
    .header {
        margin: 0 30px;
        min-height: 70px;
    }
    
    .header__logo {
        width: 100px;
    }

}